.ItemDetails {
    display: flex;
    color: darkblue;
    justify-content: space-between;
    text-align: center;
    margin: 5px;
    padding: 5px;
    
}

.ItemDetails p{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0px;
    
}